#bodyStrong{
    height: 100vh;
    background-image: url("./img/011.jpg");
    background-size: cover;
    margin: 0;
     
}
@media screen and (max-width: 767px){
    #bodyStrong{
        overflow: scroll;
        max-height: 100%;
    }
}